---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import LandingNav from '../components/landing-nav.jsx';
---

<Layout title="Dement.dev">
	<main>
		<LandingNav client:visible/>
	</main>
</Layout>
