.gradient-thingy {
  position: absolute;
  width: 100vw;
  height: 100vh;
  inset: 0;
  z-index: 5;
  background: linear-gradient(to bottom, rgb(0, 0, 0),rgba(0, 0, 0, 0),rgba(0, 0, 0, 0),rgba(0, 0, 0, 0),rgba(0, 0, 0, 0),rgba(0, 0, 0, 0),rgba(0, 0, 0, 0),rgba(0, 0, 0, 0), rgb(0, 0, 0));
}
